{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" />
</head>

<body>

    <div class="personal">
        <div class="header-parent">
            <div class="header">
                <div class="container">
                    <div class="navigation">
                        <div class="link" id="linkContainer">
                            <div class="about">About</div>
                        </div>
                        <div class="link" id="linkContainer1">
                            <div class="about">Education</div>
                        </div>
                        <div class="link" id="linkContainer2">
                            <div class="about">Experience</div>
                        </div>
                        <div class="divider">
                        </div>
                        <div class="actions">
                            <div class="icon-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-wrapper" id="groupContainer">
                <div class="contact1">Social Involvement</div>
            </div>
            <div class="contact-container" id="groupContainer1">
                <div class="contact1">Skills and Interests</div>
            </div>
        </div>
        <div class="hero">
            <div class="container1">
                <div class="column">
                    <div class="content">
                        <b class="text" data-scroll-to="text">Hi, I’m Avi </b>
                        <div class="text1">
                            <p class="im-avi-chopra">I'm Avi Chopra, a sophomore at the University of Southern
                                California, where I’m studying Artificial Intelligence for Business. I'm passionate
                                about technology and entrepreneurship, especially when it comes to making a positive
                                impact in people’s lives. </p>
                            <p class="im-avi-chopra">At 13, I launched my first venture, Quick Medic, an Uber-like
                                platform for ambulances, to improve emergency response services in India. That journey
                                sparked my commitment to social impact, which led me to initiate projects like Plant a
                                Tree and a COVID-19 relief campaign to protect our earth and support those in need. </p>
                            <p class="im-avi-chopra">&nbsp;</p>
                            <p class="im-avi-chopra">When I’m not focused on academics or building new ideas, I enjoy
                                playing golf and watching college football. I’m excited to keep exploring ways to use
                                technology to solve meaningful challenges and help shape the future!</p>
                        </div>
                    </div>
                    <div class="actions1">
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="location">
                    <img class="icon" alt="" src="{% static 'images/Icon.svg' %}">

                    <div class="text2">Los Angeles, California</div>
                </div>
                <div class="hire">
                    <img class="icon1" alt="" src="{% static 'images/Icon (1).svg' %}">

                    <a class="text3" href="mailto:avichopra@usc.edu" target="_blank">avichopr@usc.edu</a>
                </div>
                <div class="hire">
                    <img class="icon1" alt="" src="{% static 'images/Icon (2).svg' %}">

                    <div class="text2">+1 (213)-656-8616 | +91 9810399074</div>
                </div>
                <div class="hire">
                    <img class="icon1" alt="" src="{% static 'images/Icon(3).png' %}">

                    <a class="text3" href="https://www.linkedin.com/in/avichopra/"
                        target="_blank">www.linkedin.com/in/avichopra</a>
                </div>
            </div>
            <img class="untitled-design-10" alt="" src="{% static 'images/profile.png' %}">

        </div>
        <div class="skills">
            <div class="container2">
                <div class="row">
                    <div class="row1">
                        <div class="tag" data-scroll-to="tagContainer">
                            <div class="skills1">Education</div>
                        </div>
                    </div>
                    <div class="row2">
                    </div>
                </div>
            </div>
            <div class="university-of-southern-container">
                <p class="university-of-southern">University of Southern California </p>
                <p class="im-avi-chopra">Marshall School of Business and Viterbi School of Engineering</p>
                <p class="bachelor-of-science">Bachelor of Science, Artificial Intelligence for Business (BUAI)</p>
                <p class="blank-line1">&nbsp;</p>
                <p class="im-avi-chopra">GPA: 3.7/4 (Dean’s List)</p>
                <p class="blank-line1">&nbsp;</p>
                <p class="im-avi-chopra">
                    <span class="relevant-coursework">Relevant Coursework: </span>
                    <span class="applied-python-statistics">Applied Python, Statistics and Data Science for
                        Business,</span>
                </p>
                <p class="bachelor-of-science">Financial Accounting, Business Communication Strategy, Organizational
                    Behavior and Leadership, Microeconomics.</p>
                <p class="blank-line1">&nbsp;</p>
                <p class="university-of-southern">The Shri Ram School - Aravali </p>
                <p class="im-avi-chopra">Grade: 94.2% </p>
            </div>
        </div>
        <div class="experience">
            <div class="container3">
                <div class="row3">
                    <div class="row1" data-scroll-to="rowContainer2">
                        <div class="tag">
                            <div class="skills1">Experience</div>
                        </div>
                    </div>
                </div>
                <div class="row5">
                    <div class="row6">
                        <div class="column1">
                            <div class="quick-medic-july-2018-sept-2-wrapper">
                                <div class="quick-medic-july-container">
                                    <p class="quick-medic">Quick Medic</p>
                                    <p class="july-2018-">July 2018 - Sept 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="column2">
                            <div class="text6">
                                <p class="im-avi-chopra">Founder</p>
                                <p class="im-avi-chopra">&nbsp;</p>
                                <p class="im-avi-chopra">
                                    <span class="relevant-coursework">Quick Medic is an Android app-based platform
                                        similar to an </span>
                                    <i class="relevant-coursework">Uber-like</i>
                                    <span> platform for ambulances. The main objective is to reach every citizen in real
                                        time who seek medical services in an emergency and to minimize the gap of late
                                        arrival of ambulances with the help of robust networking. Some of the major
                                        recognitions Quick Medic has received are:</span>
                                </p>
                            </div>
                            <div class="column3">
                                <div class="text7">
                                    <p class="im-avi-chopra">
                                        <span>&nbsp;
                                        </span>
                                    </p>
                                    <ul class="successfully-integrated-quick">
                                        <li class="received-letter-of-intent-from">
                                            <span>Successfully integrated Quick Medic into about 5,000 state-run
                                                ambulances in Uttar Pradesh, India’s most populous state with over 200
                                                million people, by collaborating with GVK EMRI, the organization
                                                managing the ambulances.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Received Letter of Intent from the Haryana Government for the trial
                                                run of Quick Medic in state run ambulances in the city of Gurugram.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Discussed with various Government officials of states such as Haryana,
                                                Maharashtra, Gujarat, etc. to explore the possibilities of using Quick
                                                Medic in state run ambulances.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Appreciation Certificate by the Governor of West Bengal, Shri Kesari
                                                Nath Tripathi.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Received Kurt Hahn Commendation (Round Square), United Kingdom.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Received the Silver Medal at the Pramerica - Spirit of Community
                                                Awards and was also covered in their talk show called
                                            </span>
                                            <a class="spirit-talks"
                                                href="https://youtu.be/jEARmZxvZN8?si=mtxE50KO9ppreZlx" target="_blank">
                                                <span>Spirit Talks
                                                </span>
                                            </a>
                                            <span>.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Invited as a Guest Speaker for Innovation and Startup Summit-UP.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Facilitation by The Shri Ram College of Commerce in front of various
                                                startups on 30th January, 2019 at Samvaadam.
                                            </span>
                                        </li>
                                        <li class="received-letter-of-intent-from">
                                            <span>Received the Innovator of the year (2018-19) from The Shri Ram School,
                                                Aravali, Gururgram, India.
                                            </span>
                                        </li>
                                        <li>
                                            <span>To know more, please visit
                                            </span>
                                            <a class="spirit-talks"
                                                href="https://drive.google.com/file/d/1JPAVo32m5cjB3DEorVssamKkvgxT1lcb/view?usp=sharing"
                                                target="_blank">
                                                <span>
                                                    <span class="here1">here</span>
                                                </span>
                                            </a>
                                            <span>.
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="column4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row7">
            <div class="row8">
                <div class="column5">
                    <div class="renovite-technologies-inc-july-container">
                        <p class="quick-medic">Renovite Technologies Inc</p>
                        <p class="im-avi-chopra">July 2022</p>
                    </div>
                    <div class="blacklogo-2">
                    </div>
                </div>
                <div class="column2">
                    <div class="intern">Intern </div>
                    <div class="column7">
                        <div class="text8">
                            <ul class="assisted-the-business-developm">
                                <li>Assisted the Business Development team with market analysis and supported the
                                    Marketing team with SEO and digital marketing initiatives.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column8">
                </div>
            </div>
        </div>
        <div class="row9">
            <div class="row8">
                <div class="column5">
                    <div class="renovite-technologies-inc-july-container">
                        <p class="quick-medic">Daffodil Software Private Limited</p>
                        <p class="im-avi-chopra">May - June 2020</p>
                    </div>
                    <div class="blacklogo-2">
                    </div>
                </div>
                <div class="column2">
                    <div class="intern">
                        <span>Summer Intern</span>
                        <span class="span"> </span>
                    </div>
                    <div class="column7">
                        <div class="text8">
                            <ul class="assisted-the-business-developm">
                                <li>Worked on different projects in the organization based on Java and React Native
                                    Technologies.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column8">
                </div>
            </div>
        </div>
        <div class="row11">
            <div class="row12">
                <div class="column5">
                    <div class="renovite-technologies-inc-july-container">
                        <p class="quick-medic">PDS International Private Limited</p>
                        <p class="im-avi-chopra">May - July 2021</p>
                    </div>
                    <div class="blacklogo-2">
                    </div>
                </div>
                <div class="column2">
                    <div class="intern">Intern</div>
                    <div class="column7">
                        <div class="text8">
                            <ul class="successfully-integrated-quick">
                                <li>
                                    <span>Created a project report on the Logistics Scenario in 2025 and how the Supply
                                        chain would be revolutionized. For the project report, please visit </span>
                                    <a class="spirit-talks"
                                        href="https://drive.google.com/file/d/1yILKnZYz-PidIIiqs9HJ6C-h0tTR4ZRe/view?usp=sharing"
                                        target="_blank">
                                        <span>here</span>
                                    </a>
                                    <span>.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column8">
                </div>
            </div>
        </div>
        <div class="row13">
            <div class="row14">
                <div class="column5">
                    <div class="renovite-technologies-inc-july-container">
                        <p class="quick-medic">Boldrocchi India Private Limited</p>
                        <p class="im-avi-chopra">Dec 2020 - Jan 2021</p>
                    </div>
                    <div class="blacklogo-2">
                    </div>
                </div>
                <div class="column2">
                    <div class="intern">Sales Intern</div>
                    <div class="column7">
                        <div class="text11">
                            <ul class="assisted-the-business-developm">
                                <li>Worked on a project titled "Customer Feedback" and assisted in sales of large
                                    industrial fans used in sectors such as Steel, Power, Cement, Fertilizer, Oil & Gas.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column8">
                </div>
            </div>
        </div>
        <div class="work1">
            <div class="container4">
                <div class="row15">
                    <div class="row1" data-scroll-to="rowContainer1">
                        <div class="tag">
                            <div class="skills1">Social Involvement</div>
                        </div>
                    </div>
                    <div class="row2">
                    </div>
                </div>
                <div class="row18">
                    <div class="column21">
                        <div class="plant-a-tree-container">
                            <p class="plant-a-tree">Plant a Tree</p>
                            <p class="im-avi-chopra">Dec 2018 - Present</p>
                            <p class="im-avi-chopra">
                                <i>&nbsp;</i>
                            </p>
                            <p class="im-avi-chopra">Founder</p>
                        </div>
                    </div>
                    <div class="column22">
                        <div class="text8">
                            <ul class="successfully-integrated-quick">
                                <li class="received-letter-of-intent-from">
                                    <span>Launched “Plant a Tree on Your Birthday” campaign on 15th December, 2018 at
                                        the “Shri Bayaar” Event, The Shri Ram School, Aravali.
                                    </span>
                                </li>
                                <li class="received-letter-of-intent-from">
                                    <span>Raised over 5,000 USD from the WCA World Foundation USA, planting 534 new
                                        trees in collaboration with my school and one of India’s major citizen-led NGOs,
                                        iamgurgaon. About 180 peers and teachers assisted our effort.
                                    </span>
                                </li>
                                <li class="received-letter-of-intent-from">
                                    <span>In 2019, 2020 and 2021, I planted trees in collaboration with the Haryana
                                        Forest Department, various Multinational Corporations and NGOs.
                                    </span>
                                </li>
                                <li>
                                    <span>To know more, please visit
                                    </span>
                                    <a class="spirit-talks"
                                        href="https://drive.google.com/file/d/1M9OweAcooIWC_Myi6GIoPTL6xqZVn_ve/view?usp=sharing"
                                        target="_blank">
                                        <span>
                                            <span class="here1">here</span>
                                        </span>
                                    </a>
                                    <span>.
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="actions2">
                        </div>
                    </div>
                </div>
                <div class="row19">
                    <div class="column23">
                        <div class="text8">
                            <ul class="successfully-integrated-quick">
                                <li class="received-letter-of-intent-from">
                                    <span>Led a campaign to provide support to the Migrants and needy during the initial
                                        phase of the Lockdown.
                                    </span>
                                </li>
                                <li class="received-letter-of-intent-from">
                                    <span>Wrote to the Chief Minister’s Office, District Magistrate’s Office, various
                                        Multinational Corporations and NGO, for support.
                                    </span>
                                </li>
                                <li class="received-letter-of-intent-from">
                                    <span>Collected and distributed more than 20,000 packets of pre- packed food items,
                                        water bottles, soaps, sanitizers, etc. in collaboration with the Indian Red
                                        Cross Society.
                                    </span>
                                </li>
                                <li class="received-letter-of-intent-from">
                                    <span>Appreciated by The District Commissioner, Gurgaon and was also covered in the
                                        local media, for this achievement.
                                    </span>
                                </li>
                                <li>
                                    <span>To know more, please visit
                                    </span>
                                    <a class="spirit-talks"
                                        href="https://drive.google.com/file/d/124zaaOWr3e4at8w-v5SxrLt1_t8ENKuw/view?usp=sharing"
                                        target="_blank">
                                        <span>
                                            <span class="here1">here</span>
                                        </span>
                                    </a>
                                    <span>.
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="actions2">
                        </div>
                    </div>
                    <div class="column24">
                        <div class="plant-a-tree-container">
                            <p class="quick-medic">COVID-19 Relief Campaign</p>
                            <p class="im-avi-chopra">April – July 2020</p>
                            <p class="quick-medic">&nbsp;</p>
                            <p class="im-avi-chopra">Founder</p>
                        </div>
                    </div>
                </div>
                <div class="row20">
                    <div class="column25">
                        <div class="plant-a-tree-container">
                            <p class="plant-a-tree"> Indian Red Cross Society (IRCS)</p>
                            <p class="im-avi-chopra">June 2020 - Present</p>
                            <p class="im-avi-chopra">
                                <i class="blank-line9">&nbsp;</i>
                            </p>
                            <p class="im-avi-chopra">Life-Time Volunteer</p>
                        </div>
                    </div>
                    <div class="column26">
                        <div class="text8">
                            <ul class="assisted-the-business-developm">
                                <li class="received-letter-of-intent-from">Volunteered in various blood donation camps
                                    of the IRCS.</li>
                                <li>Led community welfare initiatives in collaboration with IRCS.</li>
                            </ul>
                        </div>
                        <div class="actions2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-me">
            <div class="container5">
                <div class="row">
                    <div class="row1">
                        <div class="tag">
                            <div class="skills1">Get in touch</div>
                        </div>
                    </div>
                    <div class="row23">
                        <div class="text16">
                            <p class="im-avi-chopra">I would love to connect with you.</p>
                            <p class="im-avi-chopra">You can reach out to me on the below:</p>
                        </div>
                    </div>
                </div>
                <div class="column27">
                    <div class="email">
                        <img class="icon4" alt="" src="{% static 'images/Icon.svg' %}">

                        <div class="text17">avichopr@usc.edu </div>
                        <div class="icon-button1">
                            <img class="icon4" alt="" src="{% static 'images/Icon.svg' %}">

                        </div>
                    </div>
                    <div class="email">
                        <img class="icon4" alt="" src="{% static 'images/Icon.svg' %}">

                        <div class="text17">+1 (213)-656-8616</div>
                        <div class="icon-button1">
                            <img class="icon4" alt="" src="{% static 'images/Icon.svg' %}">

                        </div>
                    </div>
                </div>
                <div class="row24">
                </div>
            </div>
        </div>
        <div class="skills2">
            <div class="container2">
                <div class="row">
                    <div class="row1" data-scroll-to="rowContainer">
                        <div class="tag">
                            <div class="skills1">Skills and Interests</div>
                        </div>
                    </div>
                    <div class="row2">
                    </div>
                </div>
            </div>
            <div class="university-of-southern-container">
                <p class="im-avi-chopra">&nbsp;</p>
                <ul class="language-native-proficiency-i">
                    <li class="received-letter-of-intent-from">
                        <span class="language">Language:</span>
                        <i class="language"> </i>
                        <span>Native proficiency in English and Hindi. Elementary proficiency in Spanish. </span>
                    </li>
                </ul>
                <p class="im-avi-chopra">&nbsp;</p>
                <ul class="language-native-proficiency-i">
                    <li>
                        <span class="language">Interests:</span>
                        <span> Golf, played professionally in India from 2013 to 2017 (Handicap 7 & USGA Handicap Index:
                            5.6)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        var linkContainer = document.getElementById("linkContainer");
        if (linkContainer) {
            linkContainer.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='text']");
                if (anchor) {
                    anchor.scrollIntoView({ "block": "start", "behavior": "smooth" })
                }
            });
        }

        var linkContainer1 = document.getElementById("linkContainer1");
        if (linkContainer1) {
            linkContainer1.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='tagContainer']");
                if (anchor) {
                    anchor.scrollIntoView({ "block": "start", "behavior": "smooth" })
                }
            });
        }

        var linkContainer2 = document.getElementById("linkContainer2");
        if (linkContainer2) {
            linkContainer2.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='rowContainer2']");
                if (anchor) {
                    anchor.scrollIntoView({ "block": "start", "behavior": "smooth" })
                }
            });
        }

        var groupContainer = document.getElementById("groupContainer");
        if (groupContainer) {
            groupContainer.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='rowContainer1']");
                if (anchor) {
                    anchor.scrollIntoView({ "block": "start", "behavior": "smooth" })
                }
            });
        }

        var groupContainer1 = document.getElementById("groupContainer1");
        if (groupContainer1) {
            groupContainer1.addEventListener("click", function () {
                var anchor = document.querySelector("[data-scroll-to='rowContainer']");
                if (anchor) {
                    anchor.scrollIntoView({ "block": "start", "behavior": "smooth" })
                }
            });
        }
    </script>
</body>

</html>